* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  
  --primary-color: hsl(175, 100%, 50%);
  --dark-blue: hsl(225, 59%, 11%);
  --bg-card-project: hsla(225, 58%, 11%, 0.95);
  --dark-gray: hsl(225, 40%, 18%);
  --gray: hsl(213, 30%, 32%);
  --light-gray: hsl(187, 37%, 83%);
  --very-light-gray: hsl(182, 82%, 93%);

  --color-js:hsl(53, 93%, 54%);
  --color-html:hsl(18, 88%, 55%); 
  --color-css: hsl(198, 71%, 53%);
  --color-python: hsl(206, 59%, 59%);
  
  --white: #fff;
  --black: #000;

  --nav-height: 7.2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  text-align: center;

  color: var(--white);
}  

/* Geral */

section {
  padding-block: calc(5rem + var(--nav-height)) ;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  padding-inline: 10rem;
}

.wrapper header h2 {
  font-size: 3rem;
}

.wrapper .content {
  margin-top: 3rem;
}

ul {
  list-style: none;
}


a,
button {
  color: var(--white);
  cursor: pointer;
}

/* Geral */

/* Scrollbar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--dark-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Scrollbar */

/* technologies pills */
.technologies {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.technologies > p{
  padding: 1rem;
  border-radius: 1.5rem;
  color: black;
  font-weight: 700;
}

.technologies .pill_JavaScript{
  border: solid .1rem var(--color-js);
  color: var(--color-js);
}

.technologies .pill_HTML{
  border: solid .1rem var(--color-html);
  color: var(--color-html);
}

.technologies .pill_CSS{
  border: solid .1rem var(--color-css);
  color: var(--color-css);
}

.technologies .pill_Python {
  border: solid .1rem var(--color-python);
  color: var(--color-python);
}


/* Navigation */
#navigation {
  width: 100%;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  
  padding-inline: 10rem;
  
  background: var(--dark-blue);
  border-bottom: .1rem solid var(--dark-gray);
}

#navigation .logo {
  width: 25rem;
}

#navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

#navigation ul li a::after {
  content:'';
  width: 0;
  height: .2rem;
  background: var(--primary-color);

  position: relative;
  bottom: -2rem;
  left: -0.5rem;
  display: block;

  transition: width .2s;
}


#navigation ul li a:hover::after {
  padding-inline: 0.8rem;
  width: 100%;
}

/* Navigation */

/* Home */
#home {
  background: var(--dark-blue);
  position: relative;
  height: 100%;
}

#home .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home .wrapper .content {
  width: 50%;
}

#home .wrapper .content > img {
  width: 100%;
  height: 100%;
}

#home .wrapper header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#home header .apresentation {
  text-align: left;
}

#home header .apresentation h1 {
  font-size: 4.5rem;
  color: var(--primary-color);
  padding-right: 1rem;
  animation: blinkCursor .5s steps(40) infinite normal, typing 4s steps(40) 1s normal;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blinkCursor{
  from {
    border-right:  2px solid rgba( 255, 255, 255, .75);
  }
  to {
    border-right:  transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#home header .apresentation h3 {
  font-size: 3rem;
}

#home header .professional-medias {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

#home header .professional-medias > a {
  width: 25rem;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  padding: 1rem;

  border: solid .2rem var(--primary-color);
  border-radius: 1.5rem;

  transition: background .2s ease-in-out;
}

#home header .professional-medias > a:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

#home header .professional-medias > a > svg{
  width: 2.5rem;
  height: auto;
  transition: .2s ease-in-out;
}

#home header .professional-medias > a:hover > svg path[fill="#fff"]{
  fill: var(--black);
}


/* about */

#about {
  background: var(--dark-gray);
  color: var(--white);
}

#about .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .wrapper .content {
  display: flex;
  justify-content: center;

  gap: 2.5rem;
  padding: 2.5rem;

  border-radius: 1.5rem;
  background: var(--dark-blue);
}

#about .wrapper .content .about_image{
  width: 30rem;
  height: 30rem;
}

#about .wrapper .content .about_image img {
  width: 100%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
  border-left: .5rem solid var(--primary-color);
}

#about .wrapper .content .description {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#about .wrapper .content .description p,
#about .wrapper .content .description h3 {
  text-align: justify;
  line-height: 1.5;
}

#about  .description .header_description h3 {
  font-size: 2rem;
  width: 60rem;
  padding-bottom: .5rem;
  border-bottom: .2rem solid var(--primary-color);
}

#about  .description .footer_description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about  .description .footer_description .skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#about  .description .footer_description .skills h4 {
  color: var(--primary-color);
  text-align: left;
}

#about  .description .footer_description .skills .technologies p {
  transition: .2s ease-in-out;
}

#about  .description .footer_description .skills .technologies p:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
}

#about  .description .footer_description button {
  width: 15rem;
  padding: 1.5rem;
  background: transparent;
  border: .2rem solid var(--primary-color);
  border-radius: 1.5rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background .2s ease-in-out;
}

#about .description .footer_description button svg {
  width: 3rem;
}

#about .description .footer_description button:hover {
  background: var(--primary-color);
  color: var(--black);
}

#about .description .footer_description button:hover svg path[fill="#fff"] {
  fill: var(--black);
}

/* Projects */

#projects {
  background: var(--dark-blue);
}

#projects .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


#projects .wrapper .content {
  width: 100%;
  height: 100%;

  background: var(--dark-gray);
  border-radius: 1.5rem;

  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem;

  overflow: overlay;
}

#projects .wrapper .content .card_project {
  background: var(--dark-blue);

  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px var(--gray);

  width: 45rem;
  height: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  gap: 2rem;

  transition: transform .2s ease-in-out;

}

#projects .wrapper .content .card_project:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

#projects .wrapper .content .card_project .project_image {
  width: 100%;
  height: 100%;
}

#projects .wrapper .content .card_project .project_image img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

#projects .wrapper .content .card_project .project_description {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background: var(--bg-card-project);
  text-align: justify;
  transition: .2s ease;
   
}

#projects .wrapper .content .card_project:hover .project_description {
  opacity: 1;
}

#projects .wrapper .content .card_project .project_description h4 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.8rem
}

.content .card_project .project_description .technologies {
  display: flex;
  justify-content: start;
  gap: 2rem;
  flex-wrap: wrap;
}








