* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  
  --primary-color: hsl(175, 100%, 50%);
  --dark-blue: hsl(225, 59%, 11%);
  --bg-card-project: hsla(225, 58%, 11%, 0.95);
  --dark-gray: hsl(225, 40%, 18%);
  --gray: hsl(213, 30%, 32%);
  --light-gray: hsl(187, 37%, 83%);
  --very-light-gray: hsl(182, 82%, 93%);

  --color-js:hsl(53, 93%, 54%);
  --color-html:hsl(18, 88%, 55%); 
  --color-css: hsl(198, 71%, 53%);
  --color-python: hsl(206, 59%, 59%);
  
  --white: #fff;
  --black: #000;

  --nav-height: 7.2rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.6rem;
  text-align: center;

  color: var(--white);
}  

/* Geral */

section {
  padding-top: calc(5rem + var(--nav-height)) ;
  padding-bottom: 5rem;
  width: 100%;
  min-height: 100%;
}

.wrapper {
  width: min(125rem, 100%);
  height: 100%;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.wrapper header h2 {
  font-size: 3rem;
}

.wrapper .content {
  margin-top: 3rem;
}

ul {
  list-style: none;
}


a,
button {
  color: var(--white);
  cursor: pointer;
}

img,
svg {
  width: 100%;
  height: 100%;
}

/* Geral */

/* Scrollbar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--dark-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Scrollbar */

/* technologies pills */
.technologies {
  display: flex;
  gap: 2rem;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.technologies > p{
  padding: 1rem;
  border-radius: 1.5rem;
  color: black;
  font-weight: 700;
}

.technologies .pill_JS{
  border: solid .1rem var(--color-js);
  color: var(--color-js);
}

.technologies .pill_HTML{
  border: solid .1rem var(--color-html);
  color: var(--color-html);
}

.technologies .pill_CSS{
  border: solid .1rem var(--color-css);
  color: var(--color-css);
}

.technologies .pill_Python {
  border: solid .1rem var(--color-python);
  color: var(--color-python);
}


/* Navigation */
#navigation {
  width: 100vw;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;

  background: var(--dark-blue);
  border-bottom: .1rem solid var(--dark-gray);
}

#navigation .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation .logo {
  font-size: 3rem;
  color: var(--primary-color);
}

#navigation .menu button {
  display: none;
  background: transparent;
  width: 5rem;
  height: 5rem;
  border: none;
}

#navigation .menu .close_menu {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

#navigation .menu .open_menu {
  position: fixed;
  top: -2.5rem;
  right: 0;
}

#navigation .menu .professional_medias-menu {
  width: 100%;
  display: none;
}

#navigation .menu .professional_medias-menu > a{
  width: 3rem;
}



#navigation .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

#navigation .menu ul a:hover {
  color: var(--primary-color);
}

#navigation .menu ul li a::after {
  content:'';
  width: 0;
  height: .2rem;
  background: var(--primary-color);

  position: relative;
  bottom: -2rem;
  left: -0.5rem;
  display: block;

  transition: width .2s;
}


#navigation .menu ul li a:hover::after {
  padding-inline: 0.8rem;
  width: 100%;
}

/* Navigation */

/* Home */
#home {
  background: var(--dark-blue );
  position: relative;
  height: 100%;
}

#home .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home .wrapper header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
}

#home header .apresentation {
  text-align: left;
}

#home header .apresentation h1 {
  font-size: 3.4rem;
  padding-right: 1rem;
  color: var(--primary-color);
}

#home header .apresentation h3 {
  font-size: 3rem;
}

.professional_medias {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.professional_medias > a {
  width: 25rem;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  padding: 1rem;

  border: solid .2rem var(--primary-color);
  border-radius: 1.5rem;

  transition: background .2s ease-in-out;
}

.professional_medias > a:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.professional_medias > a > svg{
  width: 2.5rem;
  height: auto;
  transition: .2s ease-in-out;
}

.professional_medias > a:hover > svg path[fill="#fff"]{
  fill: var(--black);
}

#home .wrapper .content {
  width: 100%;
  padding: 2rem;
  
}


/* about */

#about {
  background: var(--dark-gray);
  color: var(--white);
}

#about .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about .wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .wrapper .content {
  display: flex;
  justify-content: center;

  gap: 2.5rem;
  padding: 2.5rem;

  border-radius: 1.5rem;
  background: var(--dark-blue);
}

#about .wrapper .content .about_image{
  width: min(40rem, 100%);
  height: 30rem;
}

#about .wrapper .content .about_image img {
  border-radius: 0 1rem 1rem 0;
  border-left: .5rem solid var(--primary-color);
  transition: transform .2s 
}

#about .wrapper .content .about_image img:hover {
  transform: scale(1.1);
}

#about .wrapper .content .description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#about .wrapper .content .description p,
#about .wrapper .content .description h3 {
  line-height: 1.5;
}

#about .wrapper .content .description p {
  text-align: justify;
}

#about .wrapper .content .description h3 {
  text-align: left;
}


#about  .description .header_description h3 {
  font-size: 2rem;
  width: 80%;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: .2rem solid var(--primary-color);
}

#about  .description .footer_description {
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

#about  .description .footer_description .skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#about  .description .footer_description .skills h4 {
  color: var(--primary-color);
  text-align: left;
}

#about  .description .footer_description .skills .technologies p {
  transition: .2s ease-in-out;
}

#about  .description .footer_description .skills .technologies p:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
}

#about  .description .footer_description button {
  width: 15rem;
  padding: 1.5rem;
  background: transparent;
  border: .2rem solid var(--primary-color);
  border-radius: 1.5rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: background .2s ease-in-out;
}

#about .description .footer_description button svg {
  width: 3rem;
}

#about .description .footer_description button:hover {
  background: var(--primary-color);
  color: var(--black);
}

#about .description .footer_description button:hover svg path[fill="#fff"] {
  fill: var(--black);
}

/* Projects */

#projects {
  height: 100%;
  background: var(--dark-blue);
}

#projects .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


#projects .wrapper .content {
  width: 100%;
  height: 100%;

  background: var(--dark-gray);
  border-radius: 1.5rem;

  display: flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 3rem;

  overflow: overlay;
}

#projects .wrapper .content .card_project {
  background: var(--dark-blue);

  border-radius: 1.5rem;
  box-shadow: 5px 5px 10px var(--gray);

  width: 50rem;
  height: 35rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  gap: 2rem;

  transition: transform .2s ease-in-out;

}

#projects .wrapper .content .card_project:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

#projects .card_project .project_image {
  width: 100%;
  height: 100%;
}

#projects .card_project .project_image img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

#projects .card_project .project_description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background: var(--bg-card-project);
  text-align: justify;
  transform: scale(0);
  transition: transform .3s ease-in-out;
  transform-origin: right;
}

#projects .card_project:hover .project_description {
  transform: scale(1);
  transition: transform .3s ease-in-out;
  transform-origin: left;
}

#projects .card_project .project_description h4 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.8rem
}

#project .project_description .technologies {
  display: flex;
  justify-content: start;
  gap: 2rem;
  flex-wrap: wrap;
}


/* Contact */

#contact {
  height: 100%;
  background: var(--dark-gray);
}

#contact .wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .wrapper header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5rem;
  padding: 3rem;
  background: var(--dark-blue);
  border-radius: 1rem 0 0 1rem;
}

#contact .wrapper header .contacts{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#contact .wrapper header .contacts div{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}

#contact .wrapper header .contacts div svg{
  width: 3rem;
}

#contact .wrapper .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 3rem;
  margin: 0;
  background: var(--gray);
  border-radius: 0 1rem 1rem 0;
}

#contact .wrapper .content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#contact .content form .input_field {
  position: relative;
  width: 100%;
}

#contact .content form .input_field input{
  width: 100%;
  height: 5rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: solid .3rem var(--very-light-gray);
  color: var(--white);
  transition: .25s ease-in-out;
}

#contact .content form .input_field textarea {
  height: 8rem;
  outline: none; 
  background: transparent;
  width: 100%;
  border: none;
  resize: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-bottom: solid .3rem var(--very-light-gray);
  color: var(--white);
  transition: .25s ease-in-out;
}

#contact .content form .input_field input:hover,
#contact .content form .input_field textarea:hover{
  border-bottom: solid .3rem var(--primary-color);
}

#contact .content form .input_field input:-webkit-autofill{
  -webkit-text-fill-color: var(--white) !important;
  -webkit-box-shadow: 0 0 0 3rem var(--gray) inset;
}

#contact .content form .input_field input:focus,
#contact .content form .input_field textarea:focus,
#contact .content form .input_field input:not(:placeholder-shown),
#contact .content form .input_field textarea:valid {
  border-bottom: solid .3rem var(--primary-color);
}

#contact .input_field label {
  position: absolute;
  top: 0;
  left: 0;
  transition: .25s ease-in-out;
  transform: translateY(1.8rem);
  color: var(--light-gray);
}

#contact .input_field textarea ~ label {
  top: -1rem;
}

#contact .input_field input:focus ~ label,
#contact .input_field textarea:focus ~ label,
#contact .input_field input:not(:placeholder-shown) ~ label,
#contact .input_field textarea:valid ~ label {
  transform: translateY(-1.8rem) scale(1.1);
  color: var(--primary-color);
}



#contact .input_field input::placeholder,
#contact .input_field textarea::placeholder{
  color: transparent;
}

#contact .content form .button_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact .content form .button_form p{
  color: var(--primary-color);
  opacity: 0;
  visibility: hidden;

  transform: translateY(50%);
  transition: .2s
}

#contact .content form .button_form p.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#contact .content form .button_form button {
  width: 25rem;
  height: 5rem;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.8rem;
  border: solid .3rem var(--very-light-gray);
  border-radius: 1.5rem;
  transition: background .2s ease-in-out;
}

#contact .content form .button_form button:hover {
  background: var(--primary-color);
  border: none;
  color: var(--black);
}

/* Footer */

footer {
  width: 100%;
  background: var(--dark-blue);
  padding: 3rem;
}

/* Back top top */

#backToTop {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  padding: 1rem;

  background: var(--primary-color);
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateY(100%);
  transition: .2s;

}

#backToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#backToTop svg {
  width: 2rem;
  height: 2rem;
}





